| {% extends 'kettles/base.html' %}

| {% load static %}
| {% load custom_tags %}

| {% block extraStyle%}
link(rel="stylesheet" href="{% static 'css/jquery_timepicker.css' %}" type="text/css" media="screen,projection")
link(rel="stylesheet" href="{% static 'kettles/assign/assign_day.css' %}" type="text/css" media="screen, projection")
link(rel="stylesheet" href="{% static 'kettles/assign/checkbox.css' %}" type="text/css" media="screen,projection")
link(rel="stylesheet" href="{% static 'css/fontawesome_all.css' %}" type="text/css" media="screen,projection")
| {% endblock %}

| {% block content %}
#wrapper
  #container
    header
      h2.text-center {{production_day.date}}
      p#todays-production-day(style="display:none;") {{production_day}}
    aside
      #days-product-list.sortable-products-list
        | {% for product in production_day.days_products.all|sort_by:'kettle_order' %}
        | {% if product.assigned == False %}
        .product-item(id='{{product.schedule_number}}')(class="{% if product.note %}note{% endif%} {% if product.gluten_free %}gluten-free{% endif%}")
          .product-ui-container.is-flex
            .product-sort-handle(class="{% if product.is_complete %}is-complete{% endif %}")
              .schedule-number-container
                p.product-schedule-number {{product.schedule_number}} <span id="{{product.multiple}}" class="multiple">{% if product.multiple > 0%}({{product.multiple|whole_float_to_int}}){% endif %}</span>
              .product-name-container
                | {% if product.product_name == '' %}
                p.product-name Product Name
                | {% else %}
                p.product-name {{ product.product_name|truncatechars:26 }}
                | {% endif %}
              .note-container
                | {% if product.note %}
                p.note {{product.note}}
                | {% endif %}
            .product-complete-container
              label.checkbox-container
                | {% if product.is_complete %}
                input.product-complete(type="checkbox" checked)
                | {% else %}
                input.product-complete(type="checkbox")
                | {% endif %}
                span.checkmark
            
        | {% endif %}
        | {% endfor %}
    
    | {% for kettle in production_day.kettles.all %}
    div(id='{{kettle.kettle_number}}').kettle-container.is-flex
      .kettle-container-header.is-flex
        h5.text-center {{kettle}}
      .kettle-container-content.is-flex
        div(id="sortable_{{kettle}}").sortable-products-list
          | {% for product in kettle.days_products.all|sort_by:'kettle_order' %}
          .product-item(id='{{product.schedule_number}}')(class="{% if product.note %}note{% endif%} {% if product.gluten_free %}gluten-free{% endif%} {% if product.is_complete %}is-complete{% endif %}")
            |{% if product.start_time %}
            .product-start-time.is-success.is-flex
              p Start Cooking: <span class="time-to-start">{{product.start_time}}</span>
              i.remove-product-start-time.fas.fa-times.text-center
            |{% endif %}
            .product-ui-container.is-flex
              .product-sort-handle(class="{% if product.is_complete %}is-complete{% endif %}")
                .schedule-number-container
                  p.product-schedule-number {{product.schedule_number}} <span id="{{product.multiple}}" class="multiple">{% if product.multiple > 0%}({{product.multiple|whole_float_to_int}}){% endif %}</span>
                .product-name-container
                  | {% if product.product_name == '' %}
                  p.product-name Product Name
                  | {% else %}
                  p.product-name {{ product.product_name|truncatechars:26 }}
                  | {% endif %}
                .note-container
                  | {% if product.note %}
                  p.note {{product.note}}
                  | {% endif %}
              i(id="{{product.schedule_number}}-add-start-time").product-add-start-time.far.fa-clock.text-center
              .product-complete-container
                label.checkbox-container
                  | {% if product.is_complete %}
                  input.product-complete(type="checkbox" checked)
                  | {% else %}
                  input.product-complete(type="checkbox")
                  | {% endif %}
                  span.checkmark
          | {% endfor %}
    | {% endfor %}

#dialogue-add-start-time-form
  h5 Start Time:
  form
    input#add-delay-time-picker(required)
      
| {% endblock %}

| {% block extraScripts %}
script(type="text/javascript" src="{% static 'js/jquery_timepicker.js'%}")
script(type="text/javascript" src="{% static 'kettles/js/assign_day.js'%}")
| {% endblock %}
