| {% extends 'kettles/base.html' %}

| {% load static %}
| {% load custom_tags %}

| {% block extraStyle%}
link(rel="stylesheet" href="{% static 'kettles/assign/assign_days.css' %}" type="text/css" media="screen, projection")
| {% endblock %}

| {% block content %}

#wrapper
  #masthead
    .third
      p Today: <a href="{{ today|date:"Y-m-d" }}"> {{ today }}, {{ today|date:"l" }}</a>
    .third
      p Tomorrow: <a href="{{ tomorrow|date:"Y-m-d" }}"> {{ tomorrow }}, {{ tomorrow|date:"l" }}</a>
    .third
      | {% if next_monday %}
      p Next Monday: <a href="{{ next_monday|date:"Y-m-d" }}"> {{ next_monday }}, {{ next_monday|date:"l" }}</a>
      | {% endif %}
      
  h3(style="margin-top:40px;") Archive:
  ul
    | {% for day in days|sort_by:'date' reversed  %}
    li: a(href="{{ day.date|date:'Y-m-d' }}") {{ day.date }}, {{ day.date|date:"l" }}
    | {% endfor %}
    
| {% endblock %}

| {% block extraScripts %}
| {% endblock %}
