
{% extends 'kettles/base.html' %}
{% load static %}
{% load custom_tags %}
{% block extraStyle%}
<link rel="stylesheet" href="{% static 'css/jquery_timepicker.css' %}" type="text/css" media="screen,projection"/>
<link rel="stylesheet" href="{% static 'kettles/assign/assign_day.css' %}" type="text/css" media="screen, projection"/>
<link rel="stylesheet" href="{% static 'kettles/assign/checkbox.css' %}" type="text/css" media="screen,projection"/>{% endblock %}
{% block content %}
<div id="wrapper">
  <div id="container">
    <header>
      <h2 class="text-center">{{production_day.date}}</h2>
      <p id="todays-production-day" style="display:none;">{{production_day}}</p>
    </header>
    <aside>
      <div class="sortable-products-list" id="days-product-list">
        {% for product in production_day.days_products.all|sort_by:'kettle_order' %}
        {% if product.assigned == False %}
        <div class="product-item {% if product.note %}note{% endif%} {% if product.gluten_free %}gluten-free{% endif%}" id="{{product.schedule_number}}">
          <div class="product-sort-handle {% if product.is_complete %}is-complete{% endif %}">
            <div class="schedule-number-container">
              <p class="product-schedule-number">{{product.schedule_number}} <span id="{{product.multiple}}" class="multiple">{% if product.multiple > 0%}({{product.multiple|whole_float_to_int}}){% endif %}</span></p>
            </div>
            <div class="product-name-container">{% if product.product_name == '' %}
              <p class="product-name">Product Name</p>{% else %}
              <p class="product-name">{{ product.product_name|truncatechars:26 }}</p>{% endif %}
            </div>
            <div class="note-container">{% if product.note %}
              <p class="note">{{product.note}}</p>{% endif %}
            </div>
          </div>
          <div class="product-complete-container">
            <label class="checkbox-container">{% if product.is_complete %}
              <input class="product-complete" type="checkbox" checked="checked"/>{% else %}
              <input class="product-complete" type="checkbox"/>{% endif %}<span class="checkmark"></span>
            </label>
          </div>
        </div>{% endif %}
        {% endfor %}
      </div>
    </aside>{% for kettle in production_day.kettles.all %}
    <div class="kettle-container" id="{{kettle.kettle_number}}">
      <div class="kettle-container-header">
        <h5 class="text-center">{{kettle}}</h5>
        <h6 class="kettle-add-delay" id="{{kettle.kettle_number}}-add-delay">Add Start Time</h6>
      </div>
      <div class="kettle-container-content">
        <div class="kettle-delay text-center">Delay</div>
        <div class="sortable-products-list" id="sortable_{{kettle}}">{% for product in kettle.days_products.all|sort_by:'kettle_order' %}
          <div class="product-item {% if product.note %}note{% endif%} {% if product.gluten_free %}gluten-free{% endif%}" id="{{product.schedule_number}}">
            <div class="product-sort-handle {% if product.is_complete %}is-complete{% endif %}">
              <div class="schedule-number-container">
                <p class="product-schedule-number">{{product.schedule_number}} <span id="{{product.multiple}}" class="multiple">{% if product.multiple > 0%}({{product.multiple|whole_float_to_int}}){% endif %}</span></p>
              </div>
              <div class="product-name-container">{% if product.product_name == '' %}
                <p class="product-name">Product Name</p>{% else %}
                <p class="product-name">{{ product.product_name|truncatechars:26 }}</p>{% endif %}
              </div>
              <div class="note-container">{% if product.note %}
                <p class="note">{{product.note}}</p>{% endif %}
              </div>
            </div>
            <div class="product-complete-container">
              <label class="checkbox-container">{% if product.is_complete %}
                <input class="product-complete" type="checkbox" checked="checked"/>{% else %}
                <input class="product-complete" type="checkbox"/>{% endif %}<span class="checkmark"></span>
              </label>
            </div>
          </div>{% endfor %}
        </div>
      </div>
    </div>{% endfor %}
  </div>
</div>
<div id="dialogue-add-delay-form">
  <h5>Start Time:</h5>
  <form>
    <input id="add-delay-time-picker"/>
  </form>
</div>{% endblock %}
{% block extraScripts %}
<script type="text/javascript" src="{% static 'js/jquery_timepicker.js'%}"></script>
<script type="text/javascript" src="{% static 'kettles/js/assign_day.js'%}"></script>{% endblock %}