*
  box-sizing: border-box
html
  font-family: sans-serif
h2,h3,h4
  font-weight: bold
h2
  font-size:2.8rem
h3
  font-size:1.8rem
h4
  font-weight:bold
.align-center
  text-align:center
.inline
  display:inline
.pull-right
  float:right
.pull-left
  float:left
.grid
  display:grid
.headline-list
  .item
    padding: 3px 0
    border-bottom:1px solid #ccc
  h2,h3
    margin:5px 0
