#pages/static/.sass-cache/
#website/static/.sass-cache/
*.pyc
db.sqlite3
algfapp/settings.py
.sass-cache/
*.map
prepros-6.config
productionschedule/migrations/
pandaspreadsheet/migrations/
#db_backups/
#media/*
files/.~lock.PRODUCTION FORM.xls#
files/.~lock.PRODUCTION FORM2.xls#
static/
