base-font-size = calc(1rem + .8vw)

.date
  display:none
.note
  color:red
  .product-start-time
    color: black
.gluten-free
  color:blue !important

#wrapper
  width:100%
  height:100%

header
  min-height:20px

#slide-day
  width:100%
  height:100%
  display:flex

#slide-week
  width:100%
  height:100%
  display:none

aside
 width:20%
 float:left
 height:100%
 border-right:2px solid #666
 .production-day-list
  height:100%
  width:100%
  display:flex
  flex-direction:column
  background-color:#ee5
  overflow-y: scroll
  .production-day-item
    text-align:center
    padding:10px 0
    border-bottom:2px solid darkgreen
    p
      font-size: calc(1rem + 1vw)
      font-weight: bold

#production-list
  display: grid
  height:100vh
  width:100%
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: repeat(3, minmax(1fr, auto))
  min-width: 0
  padding-left:20px

.kettle-container
  padding-bottom:20px
  text-align: center
  .kettle-header
    display: inline-block
    border-bottom:3px solid darkgreen
    padding:0 15px
  &.is-detail
    .detail
      display:block

.kettle-container:not(.is-detail)
  .detail
    display:none
  .product-item
    .product-schedule-number
      float:none

.product-list
  border-right: 2px solid blue
  height:92%
  padding: 5px 5px
  display:flex
  flex-direction: column

.product-list:nth-child(4)
  background-color:red

.product-item
  background-color:white
  padding:0 0 7px 0
  border-bottom:1px #999 solid
  &.is-complete
    opacity: 0.35
  .product-schedule-number
    position:relative
    h2
      margin-bottom:2px
    .strikethrough
      position:absolute
      left:15%
      top:45%
      width:70%
      height:2px
      background: black
  .note
    float:right
    font-weight: bold
  .product-name
    clear:both
    text-align:left
  .product-start-time
    background-image:linear-gradient(lightgreen 40%, rgba(255,255,255,0))
    padding:3px 0
    height:55px
    margin-bottom:-20px

.production-week
  display:flex
  width:100%
  height:100%
  min-height:75%
  padding:20px 0
  .production-week-day
    flex:1
    display:flex
    flex-direction:column
    &:nth-child(even)
      background-color:#eee
    .production-week-day-product
      flex:1
      border-right:1px solid gray
      border-bottom:1px solid gray
      font-size:calc(1rem + .35vw)
      font-weight:bold
      padding:3px 0

@media(max-width:376px)
  aside
    float:none
    width:100%
    height:auto
    .production-day-list
      flex-direction:row
      flex-wrap:wrap
      height:auto
      .production-day-item
        flex: 50%
