*
  box-sizing: border-box
html
  font-family: sans-serif
h4
  font-weight:bold
.align-center
  text-align:center

.week
  height:80%
  display:flex
  flex-direction:row
  .day
    border:1px solid #ccc
    flex:1 1 0 //flex-grow flex-shrink flex-basis
    .sortable
      height:100%
    .cell
      position:relative
      padding:0px 3px
      display:flex
      flex-wrap:wrap
      border-bottom:1px solid #444
      & > div
        text-align:center
      &:hover
        > [class^= 'ui-']
          opacity:1
      & .column:first-child
        border-right:1px solid #444
      .column
        padding:5px 0
        width:50%
      .note
        padding-top:5px
        color:red
        flex-grow:1
        flex-basis:100%
      & > [class^= 'ui-']
        cursor: pointer
        background-color:white
        position:absolute
        opacity:0.2
        transition: opacity .2s ease-in-out
      .ui-delete
        right:0
        top:0
      .ui-duplicate
        right:-1px
        bottom:0
      .update-form
        // display:none
        input[type='text']
          width:95%
        label
          display:none
    h4
      border-top:2px solid black
      border-bottom:2px solid black
