.week
  // height:80%
  display:flex
  flex-direction:row
  .day
    padding-bottom:30px
    border:1px solid #ccc
    flex:1 1 0 //flex-grow flex-shrink flex-basis
    h4
      border-top:2px solid black
      border-bottom:2px solid black
    .add-cell
      padding:5px 0
    .cell
      position:relative
      display:flex
      flex-wrap:wrap
      border-bottom:1px solid #444
      & > div
        text-align:center
      &:hover
        cursor:text
        outline:1px solid rgba(0,0,255,0.5)
        > [class ^= 'ui-']
          opacity:1
        .note .remove-note
          opacity:1
      & .column:first-child
        border-right:1px solid #999
      &.clonable
        display: none
      .column
        padding:5px 0
        width:50%
        &.selected
          outline:2px solid rgba(0,0,255,0.5);
        p
          height:100%
      .note
        display:none
        padding:5px 0
        border-top:1px solid #999
        color:red
        flex-grow:1
        flex-basis:100%
        &.visible
          display:block
        .remove-note
          position:absolute
          right:0
          bottom:0
          opacity:0.2
          transition: opacity .2s ease-in-out
          svg
            width:.6em
          &:hover
            cursor: pointer
      & > [class^= 'ui-']
        cursor: pointer
        background-color:white
        position:absolute
        opacity:0.2
        transition: opacity .2s ease-in-out
        svg
          width:.6em
      .ui-delete
        right:0
        top:0
      .ui-duplicate
        right:0px
        top: 13px
      .ui-add-note
        display:none
        top:13px
        left:50%
        &.visible
          display:inline
      .update-form, .update-note
        display:none
        input[type='text']
          width:91%
        label
          display:none
