*
  box-sizing: border-box
html
  font-family: sans-serif
h4
  font-weight:bold
.align-center
  text-align:center

.week
  height:80%
  display:flex
  flex-direction:row
  .day
    border:1px solid #ccc
    flex:1 1 0 //flex-grow flex-shrink flex-basis
    .sortable
      height:100%
    .cell
      position:relative
      padding:5px 3px
      display:flex
      flex-wrap:wrap
      border-bottom:1px solid #444
      & > div
        text-align:center
      &:hover
        .ui-delete
          opacity:1
      .column
        width:50%
      .note
        padding-top:5px
        color:red
        flex-grow:1
        flex-basis:100%
      .ui-delete
        position:absolute
        right:0
        opacity:0
        transition: opacity .2s ease-in-out
      .update-form
        display:none
        label
          display:none
    h4
      border-top:2px solid black
      border-bottom:2px solid black
