body, html
  margin:0
  padding:0

body
  color: red
  font-size:.1rem

.handsontable
  table.htCore
    td
      border:1px solid black

.day-header
  h6
    font-size:10pt

.ht_master td
  font-size:8pt
