*
  box-sizing: border-box;

body, html
  margin:0
  padding:0
  font-family:helvetica, "sans-serif"
  font-weight:bold

body
  color: red
  font-size:.1rem

#controls
  display:none

.day-container
  display:inline-block
  margin:10px 10px 10px 0
  border-right:1px solid #333
  border-bottom:1px solid #333
  border-left:1px solid #333

.day-header
  text-align:center
  display:flex
  justify-content:space-around
  border-bottom:1px solid #999
  padding-bottom:4px
  margin-bottom:4px
  h6
    font-size:9pt
    margin:0

.handsontable th
  display:none !important

.ht_master
  table.htCore
    width:100%
    table-layout:fixed
    colgroup
      display:none
    thead
      display:none
    & tbody tr td:nth-child(1)
      text-align:center
    tr
      height:1.5em
    td
      border-right:.5px solid #aaa
      border-bottom:.5px solid #aaa
      font-size:8pt
      white-space:nowrap
      overflow:hidden
    td:nth-child(1)
      width:22% !important
    td:nth-child(5)
      border-right:none
      width:8% !important
