body, html
  margin:0
  padding:0

body
  color: red
  font-size:.1rem

.handsontable
  table.htCore
    td
      border:1px solid black

.day-container
  display:inline-block
  margin-right:10px

.day-header
  text-align:center
  h6
    font-size:10pt
    margin:0

.ht_master
  & tbody tr td:nth-child(1)
    text-align:center
  & tbody tr td:nth-child(2)
    width:50px
  td
    font-size:8pt
    white-space:nowrap
    overflow:hidden

.ht_clone_top
  display:none
