| {% load static %}

doctype html
html
  include includes/head.pug
  body
    #masthead
      a(href="{% url 'today'%}") &lt; Today's Schedule
      | {{dateIsKettled}}
    #product-list.pull-left
      | {% for product in productList %}
      .product-number.align-center(class="{%for tag in product.tags %}{{tag}} {%endfor%}")
        h3 {{product.itemNumber|safe}}
      | {% endfor %}
    .kettle-list.pull-right.flex-row
      .kettle-1.droppable
        h4 {{kettles.0.name}}
        | {% for product in kettles.0.products.all %}
        h3.product-number {{ product.item_number }}
        | {% endfor %}
      .kettle-2.droppable
        h4 {{kettles.1.name}}
        | {% for product in kettles.0.products.all %}
        h3.product-number {{ product.item_number }}
        | {% endfor %}
      .kettle-3.droppable
        h4 {{kettles.2.name}}
        | {% for product in kettles.0.products.all %}
        h3.product-number {{ product.item_number }}
        | {% endfor %}
      .kettle-4.droppable
        h4 {{kettles.3.name}}
        | {% for product in kettles.0.products.all %}
        h3.product-number {{ product.item_number }}
        | {% endfor %}
    .kettle-list.pull-right.flex-row
      .kettle-6.droppable
        h4 {{kettles.4.name}}
        | {% for product in kettles.0.products.all %}
        h3.product-number {{ product.item_number }}
        | {% endfor %}
      .kettle-7.droppable
        h4 {{kettles.5.name}}
        | {% for product in kettles.0.products.all %}
        h3.product-number {{ product.item_number }}
        | {% endfor %}
      .tucs-1.droppable
        h4 {{kettles.6.name}}
        | {% for product in kettles.0.products.all %}
        h3.product-number {{ product.item_number }}
        | {% endfor %}
      .tucs-2.droppable
        h4 {{kettles.7.name}}
        | {% for product in kettles.0.products.all %}
        h3.product-number {{ product.item_number }}
        | {% endfor %}
    script(src="{% static 'js/jquery.js' %}")
    script(src="{% static 'js/jqueryui.js' %}")
    script(src="{% static 'js/kettles.js' %}")
      
