| {% load static %}

doctype html
html
  include includes/head.pug
  body
    #masthead
      a(href="{% url 'today'%}") &lt; Today's Schedule
    #product-list
      | {% for product in scheduleDay.products %}
      .product-number.align-center(class="{%for tag in product.tags %}{{tag}} {%endfor%}")
        h3 {{product.itemNumber|safe}}
      | {% endfor %}
