{% load static %}<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="{% static 'pandaspreadsheet/main.css' %}" type="text/css" media="screen,projection">
  </head>
  <body>
    <div id="masthead"><a href="{% url 'today'%}">&lt; Today's Schedule</a>{{dateIsKettled}}</div>
    <div class="pull-left" id="product-list">{% for product in productList %}
      <div class="product-number align-center {%for tag in product.tags %}{{tag}} {%endfor%}">
        <h3>{{product.itemNumber|safe}}</h3>
      </div>{% endfor %}
    </div>
    <div class="kettle-list pull-right flex-row">
      <div class="kettle-1 droppable">
        <h4>{{kettles.0.name}}</h4>{% for product in kettles.0.products.all %}
        <h3 class="product-number">{{ product.item_number }}</h3>{% endfor %}
      </div>
      <div class="kettle-2 droppable">
        <h4>{{kettles.1.name}}</h4>{% for product in kettles.0.products.all %}
        <h3 class="product-number">{{ product.item_number }}</h3>{% endfor %}
      </div>
      <div class="kettle-3 droppable">
        <h4>{{kettles.2.name}}</h4>{% for product in kettles.0.products.all %}
        <h3 class="product-number">{{ product.item_number }}</h3>{% endfor %}
      </div>
      <div class="kettle-4 droppable">
        <h4>{{kettles.3.name}}</h4>{% for product in kettles.0.products.all %}
        <h3 class="product-number">{{ product.item_number }}</h3>{% endfor %}
      </div>
    </div>
    <div class="kettle-list pull-right flex-row">
      <div class="kettle-6 droppable">
        <h4>{{kettles.4.name}}</h4>{% for product in kettles.0.products.all %}
        <h3 class="product-number">{{ product.item_number }}</h3>{% endfor %}
      </div>
      <div class="kettle-7 droppable">
        <h4>{{kettles.5.name}}</h4>{% for product in kettles.0.products.all %}
        <h3 class="product-number">{{ product.item_number }}</h3>{% endfor %}
      </div>
      <div class="tucs-1 droppable">
        <h4>{{kettles.6.name}}</h4>{% for product in kettles.0.products.all %}
        <h3 class="product-number">{{ product.item_number }}</h3>{% endfor %}
      </div>
      <div class="tucs-2 droppable">
        <h4>{{kettles.7.name}}</h4>{% for product in kettles.0.products.all %}
        <h3 class="product-number">{{ product.item_number }}</h3>{% endfor %}
      </div>
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jqueryui.js' %}"></script>
    <script src="{% static 'js/kettles.js' %}"></script>
  </body>
</html>