| {% load static %}
doctype html
html
  include includes/head.pug
  body
    #calendar
      h3.last-modified Last Modified: {{ lastModified }}
      a.pull-right(href="{% url 'today' %}"): h3 Today's Schedule &gt;
      | {% for week, weekdata in calendar.items %}
      h3 {{ week }}
      .week
        | {% for day, dailyinfo in weekdata.items %}
        .day(class="column{{forloop.counter}}")
          h4 {{ dailyinfo.date }}
          | {% for product in dailyinfo.products %}
          .cell
            .column
              p {{ product.0|safe }}
            .column
              p {{ product.1|safe }}
          | {% endfor %}
          
        | {% endfor %}
      | {% endfor %}
      
      
