| {% load static %}

html
  head
    link(rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen,projection")
    link(rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css" media="screen,projection")
    link(rel="stylesheet" href="{% static 'pandaspreadsheet/spreadsheet.css' %}" type="text/css" media="screen,projection")
  body
    #re-data
      | {% for week, weekdata in calendar.items %}
      h3 {{ week }}
      .week
        | {% for day, dailyinfo in weekdata.items %}
        .day(class="column{{forloop.counter}}")
          h4 {{ dailyinfo.date }}
          | {% for item in dailyinfo.items %}
          .cell
            .column
              p {{ item.0|safe }}
            .column
              p {{ item.1|safe }}
          | {% endfor %}
          
        | {% endfor %}
      | {% endfor %}
      
      
