{% load static %}<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="{% static 'pandaspreadsheet/main.css' %}" type="text/css" media="screen,projection">
  </head>
  <body>
    <div id="masthead"><a href="/admin">Admin</a></div>
    <nav><a class="pull-right" href="{% url 'today' %}">
        <h3>Today's Schedule &gt;</h3></a></nav>
    <div id="calendar">
      <h3 class="last-modified">Last Modified: {{ lastModified }}</h3>{% for week, weekdata in calendar.items %}
      <h3>{{ week }}</h3>
      <div class="week">{% for day, dailyinfo in weekdata.items %}
        <div class="day column{{forloop.counter}}">
          <h4>{{ dailyinfo.date }}</h4>{% for product in dailyinfo.products %}
          <div class="cell">
            <div class="column {%for tag in product.tags %}{{tag}} {%endfor%}">
              <p>{{ product.scheduleNumber|safe }}</p>
            </div>
            <div class="column">
              <p>{{ product.customer|safe }}</p>
            </div>
          </div>{% endfor %}
        </div>{% endfor %}
      </div>{% endfor %}
    </div>
  </body>
</html>