| {% load static %}

doctype html
html
  include includes/head.pug
  body
    #masthead
      h3.align-center {{ scheduleDay.date }}
      a(href="{% url 'schedule'%}") &lt; Weekly Schedule
      a.pull-right(href="{% url 'list'%}"): h3 Kettles &gt; 
      
    #todays-products.grid.headline-list
      | {% for product in scheduleDay.products %}
      .item.align-center(class="{%for tag in product.tags %}{{tag}} {%endfor%}")
        h3 {{product.itemNumber|safe}}
      .item.align-center
        h3 {{product.customer|safe}}
      | {% endfor %}
