{% load static %}<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="{% static 'pandaspreadsheet/main.css' %}" type="text/css" media="screen,projection">
  </head>
  <body>
    <div id="masthead">
      <h3 class="align-center">{{ scheduleDay.date }}</h3><a href="{% url 'schedule'%}">&lt; Weekly Schedule</a>
    </div>
    <div class="grid-container" id="product-table">{% for product in scheduleDay.products %}
      <div class="product-number align-center">
        <h2>{{product.0|safe}}</h2>
      </div>
      <div class="product-name align-center">
        <h2>{{product.1|safe}}</h2>
      </div>{% endfor %}
    </div>
  </body>
</html>