{% load static %}<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="{% static 'pandaspreadsheet/main.css' %}" type="text/css" media="screen,projection">
  </head>
  <body>
    <div id="masthead"><a href="/admin">Admin</a></div>
    <h3 class="align-center">{{ scheduleDay.date }}</h3>
    <nav><a href="{% url 'schedule'%}">&lt; Weekly Schedule</a><a class="pull-right align-right" href="{% url 'list' date=scheduleDay.date %}">
        <h3>IMPORT to Kettles &gt;</h3>
        <p>
          (Before Importing, make sure that all changes have been made to this schudule by the <strong>SCHEDULE MANAGER</strong> <br/>
          After importing..... Changes made to <strong>today's</strong> schedule, by the <strong>SCHEDULE MANAGER</strong><br/>
          will have to be <em>MANUALLY ADDED or REMOVED</em> to Kettles by the <strong>PRODUCTION MANAGER</strong>).
          
        </p></a></nav>
    <div class="grid-50-50 headline-list pull-center" id="todays-products">{% for product in scheduleDay.products %}
      <div class="item align-center {%for tag in product.tags %}{{tag}} {%endfor%}">
        <h3>{{product.itemNumber|safe}}</h3>
      </div>
      <div class="item align-center">
        <h3>{{product.customer|safe}}</h3>
      </div>{% endfor %}
    </div>
  </body>
</html>