| {% load static %}

doctype html
html
  include includes/head.pug
  body
    #masthead
      h3.align-center {{ scheduleDay.date }}
    #product-table.grid-container
      | {% for product in scheduleDay.products %}
      .product-number.align-center
        h2 {{product.0|safe}}
      .product-name.align-center
        h2 {{product.1|safe}}
      | {% endfor %}
