| {% load static %}

doctype html
html
  include includes/head.pug
  body
    include includes/masthead.pug
    h3.align-center {{ scheduleDay.date }}
    nav
      a(href="{% url 'schedule'%}") &lt; Weekly Schedule
      a.pull-right.align-right(href="{% url 'list' date=scheduleDay.date %}")
        h3 IMPORT to Kettles &gt;
        p.
          (Before Importing, make sure that all changes have been made to this schudule by the <strong>SCHEDULE MANAGER</strong> <br/>
          After importing..... Changes made to <strong>today's</strong> schedule, by the <strong>SCHEDULE MANAGER</strong><br/>
          will have to be <em>MANUALLY ADDED or REMOVED</em> to Kettles by the <strong>PRODUCTION MANAGER</strong>).
      
    #todays-products.grid-50-50.headline-list.pull-center
      | {% for product in scheduleDay.products %}
      .item.align-center(class="{%for tag in product.tags %}{{tag}} {%endfor%}")
        h3 {{product.itemNumber|safe}}
      .item.align-center
        h3 {{product.customer|safe}}
      | {% endfor %}
