| {% load static %}

doctype html
html
  include includes/head.pug
  body
    include includes/masthead.pug
    h3.align-center {{ scheduleDay.date }}
    nav
      a(href="{% url 'schedule'%}") &lt; Weekly Schedule
      
    #todays-products.grid-50-50.headline-list.pull-center
      | {% for product in scheduleDay.products %}
      .item.align-center(class="{%for tag in product.tags %}{{tag}} {%endfor%}")
        h3 {{product.scheduleNumber|safe}} {% if product.multiple > 0 %}({{product.multiple}}){% endif %}
      .item.align-center
        h3 {{product.note|safe}}
      | {% endfor %}
