h1
  font-size:2em
.kettle
  // outline:1px solid black
  width:300px
  height:201px

.product-list
  width:25%
  float:left
  border:4px dashed #ffbbbb
  li
    list-style-type: none
  .product
    margin:4px auto
    width:250px
    height:25px
    border:1px gray solid
    text-align:center
  .assigned
    border:1px #bbb solid
    color:gray
  .dragging-product
    width:250px

.kettle-list
  width:70%
  float:right
  padding-left:20px
  .kettle
    float:left
    margin: 0 10px 10px 0
    p
      margin-top:0
      text-align:center
      font-weight:bold
    .product
      text-align:center
      border:1px gray solid
      height:25px
      margin:4px auto
      width:250px

.products-in-kettle
  border:3px dashed #bbbbff
  min-height:100px
  padding-bottom:20px

.product-sort-placeholder
  height:25px
  background-color: #cceebb
