body
  background-color: #fee

.chart
  padding:10px
  width:50%
  float:left
  div
    background-color: #34d
    color:white
    margin:4px 0
    padding:5px

.bubble-chart
  width:50%
  float:right
  height:100%
