
{% extends 'kettles/base.html' %}
{% load static %}
{% block extraStyle%}
<link rel="stylesheet" href="{% static 'kettles/assign_days.css' %}" type="text/css" media="screen, projection"/>{% endblock %}
{% block content %}
<div id="wrapper">
  <p style="margin-right:40px;display:inline;">Today: <a href="{{ today }}"> {{ today }}, {{ today|date:"l" }}</a></p>
  <p style="display:inline;">Tomorrow: <a href="{{ tomorrow }}"> {{ tomorrow }}, {{ tomorrow|date:"l" }}</a></p>
  <h3 style="margin-top:40px;">Archive:</h3>
  <ul>{% for day in days reversed %}
    <li><a href="{{ day.date }}">{{ day.date }}, {{ day.date|date:"l" }}</a></li>{% endfor %}
  </ul>
</div>{% endblock %}
{% block extraScripts %}
{% endblock %}