doctype html
html
  head
    title Kettles
  body
    p {{production_day}}
    ul
      | {% for kettle in production_day.kettles.all %}
      li {{kettle}}
        ul
          | {% for product in kettle.days_products.all %}
          li {{ product.item_number }}
          | {% endfor %}
      | {% endfor %}

    include includes/footer.pug
    script(type="text/javascript" src="{% static 'kettles/list_day.js'%}")  
