doctype html
html
  head
    title Kettles
  body
    p {{production_day}}
    ul
      | {% for kettle in production_day.kettles.all %}
      li {{kettle}}
        ul
          | {% for product in kettle.days_products.all %}
          li {{ product.item_number }}
          | {% endfor %}
      | {% endfor %}

    script.
      console.log( "Listing.." );
      
      var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/kettles/');

      chatSocket.onopen = function(event) {
        console.log("WebSocket is open now.");
      };
      
      chatSocket.onmessage = function(e) {
          console.log("GOT MESSAqge");
          location.reload();
          //- var data = JSON.parse(e.data);
          //- var message = data['message'];
          //- console.log( message );
      };
