doctype html
html
  head
    title Kettles
  body
    p {{production_day}}
    ul#production-list
      include update_list_day.pug

    include includes/footer.pug
    script(type="text/javascript" src="{% static 'kettles/list_day.js'%}")  
