| {% extends 'kettles/base.html' %}

| {% load static %}

| {% block extraStyle%}
link(rel="stylesheet" href="{% static 'kettles/home.css' %}" type="text/css" media="screen, projection")
| {% endblock %}

| {% block content %}
#wrapper
    | {% url 'assign_calendar' as assign %}
    | {% url 'list_days' as list %}
    | {% url 'stats' as stats %}
    ul
      li
        a(href='{{assign}}') Assign Products to Kettles
      li
        a(href='{{list}}') Show Kettles
      //- li
      //-   a(href='{{stats}}') Statistics
| {% endblock %}

| {% block extraScripts %}
| {% endblock %}
