| {% extends 'kettles/base.html' %}

| {% load static %}

| {% block extraStyle%}
link(rel="stylesheet" href="{% static 'kettles/list_day.css' %}" type="text/css" media="screen, projection")
| {% endblock %}

| {% block content %}
#wrapper
    //- header
    //-   h3.text-center {{production_day.date}}
    main#production-list
      include update_list_day.html
| {% endblock %}

| {% block extraScripts %}
script(type="text/javascript" src="{% static 'kettles/list_day.js'%}")  
| {% endblock %}
