
{% extends 'kettles/base.html' %}
{% load static %}
{% load custom_tags %}
{% block extraStyle%}
<link rel="stylesheet" href="{% static 'kettles/list_days.css' %}" type="text/css" media="screen, projection"/>{% endblock %}
{% block content %}
<div id="wrapper">
  <ul>{% for day in production_days|sort_by:'date' reversed %}
    <li><a href="{{ day.date }}/detail_false">{{ day.date }}, {{ day.date|date:"l" }}</a> <a style="font-size:1.2rem;" href='{{ day.date }}/detail_true'>(Detail View)</a></a></li>{% endfor %}
  </ul>
</div>{% endblock %}
{% block extraScripts %}
{% endblock %}