{% load static %}<!DOCTYPE html>
<html>
  <head>
    <title>Kettles</title>
  </head>
  <body>
    <p>{{production_day}}</p>
    <ul id="production-list">{% for kettle in production_day.kettles.all %}
<li>{{kettle}}
  <ul>{% for product in kettle.days_products.all %}
    <li>
      {{ product.schedule_number }}{% if product.product_name %}<small>{{ product.product_name }}</small>{%else%}<small>Product Name</small>{%endif%}</li>{% endfor %}
  </ul>
</li>{% endfor %}
    </ul>
    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jqueryui.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquerytouch.js'%}"></script>
    <script type="text/javascript" src="{% static 'kettles/list_day.js'%}"> </script>
  </body>
</html>