| {% extends 'kettles/base.html' %}

| {% load static %}

| {% block extraStyle%}
link(rel="stylesheet" href="{% static 'kettles/list_day.css' %}" type="text/css" media="screen, projection")
| {% endblock %}

| {% block content %}
#wrapper
  #slide-day
    include update_list_day.html
  #slide-week
    h1.text-center This Week
    .production-week
      | {% for day in production_week %}
      .production-week-day
        .production-week-date
          h4.text-center {{day.date}}
        | {% for product in day.products %}
        | {% if product.scheduleNumber == '&nbsp;' %}
        .production-week-day-product
        | {% else %}
        .production-week-day-product.text-center {{product.scheduleNumber}}
        | {% endif %}
        | {% endfor %}
      | {% endfor %}
| {% endblock %}

| {% block extraScripts %}
script(type="text/javascript" src="{% static 'kettles/list_day.js'%}")  
| {% endblock %}
