| {% load static %}
doctype html
html
  head
    title Today
    link(rel="stylesheet" href="{% static 'kettles/assignment.css' %}" type="text/css" media="screen,projection")
  body
    h1 {{todays_date}}
    p#todays-production-day(style="display:none;") {{todays_production_day}}
    .product-list
      | {% for product in todays_production_day.days_products.all %}
      h5.product(class="{%for tag in product.tags %}{{tag}} {%endfor%}") {{product.item_number}}
      | {% endfor %}
    .kettle-list
        | {% for k in todays_production_day.kettles.all %}
        .kettle(id="{{k.kettle_number}}")
          p.kettle-number {{k.kettle_number}}
          .kettle-product-list
            | {% if k.days_products %}
            | {% for product in k.days_products.all%}
            | {% if product != ''%}
            h4.product(class="{%for tag in product.tags %}{{tag}} {%endfor%}") {{product.item_number}}
            | {% endif %}
            | {% endfor %}
            | {% endif %}
        | {% endfor %}
        
    script(type="text/javascript" src="{% static 'js/jquery.js'%}")
    script(type="text/javascript" src="{% static 'js/jqueryui.js'%}")
    script(type="text/javascript" src="{% static 'kettles/edit.js'%}")
      
