{% load static %}<!DOCTYPE html>
<html>
  <head>
    <title>Today</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="{% static 'kettles/assignment.css' %}" type="text/css" media="screen,projection">
  </head>
  <body><small style="color:red;">{{ notification }}</small>
    <h1>{{todays_date}}</h1>
    <p id="todays-production-day" style="display:none;">{{production_day}}</p>
    <div class="product-list">
<ul>{% for product in todays_products %}
  <li class="product {%for tag in product.tags %}{{tag}} {%endfor%}" id="{{product.schedule_number}}">
    <h5 id="{{product.schedule_number}}">{{product.schedule_number}} <span id="{{product.multiple}}" class="multiple">{% if product.multiple > 0%}(x{{product.multiple}}){% endif %}</span></h5><small>{{product.note}}</small><small>{{product.product_name}}</small>
  </li>{% endfor %}
</ul>
    </div>
    <div class="kettle-list">{% for kettle in production_day.kettles.all %}
      <div class="kettle" id="{{kettle.kettle_number}}">
        <p class="kettle-number">{{kettle.kettle_number}}</p>
        <div class="kettle-product-list">
{% load custom_tags %}
{% if kettle.days_products %}
<ul class="products-in-kettle" id="sortable_{{kettle}}">{% for product in kettle.days_products.all|sort_by:'kettle_order'%}
  <li class="product" id="{{product.schedule_number}}">
    <h4 class="{%for tag in product.tags %}{{tag}} {%endfor%}" id="{{product.schedule_number}}">{{product.schedule_number}} <span id="{{product.multiple}}" class="multiple">{% if product.multiple > 0%}(x{{product.multiple}}){% endif %}</span></h4><small>{{product.product_name}}</small>
  </li>{% endfor %}
</ul>{% endif %}
        </div>
      </div>{% endfor %}
    </div>{% load static %}
    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jqueryui.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquerytouch.js'%}"></script>
    <script type="text/javascript" src="{% static 'kettles/edit.js'%}"></script>
  </body>
</html>