
<div class="production-week">{% for day in production_week %}
  <div class="production-week-day">
    <div class="production-week-date">
      <h4 class="text-center">{{day.date}}</h4>
    </div>{% for product in day.products %}
    {% if product.scheduleNumber == '&nbsp;' %}
    <div class="production-week-day-product"></div>{% else %}
    <div class="production-week-day-product text-center {% if product.note != '' %}note{% endif %}">{{product.scheduleNumber}}</div>{% endif %}
    {% endfor %}
  </div>{% endfor %}
</div>