*
  box-sizing:border-box

body
  padding: 10px 20px

#masthead
  margin-bottom:20px

#calendar
  .week
    display:flex
    flex-direction:row
    margin:15px 0
  .day
    text-align:center
    flex: 1 1 0 // flex-grow flex-shrink flex-basis
    h4
      margin-bottom:10px
  .cell
    text-align:center
    display:flex
    flex-direction: row
    .column
      border-bottom:1px solid #ccc
      border-right:1px solid #ccc
      width: 50%

    p
      white-space:nowrap

#product-table.grid-container
  h2
    margin:5px 0
  width:100%
  display: grid
  grid-template-columns: 50% 50%
  & [class ^= 'product-']
    text-align:center
    padding:5px 0
    border-bottom:1px solid #ccc
  // .product-number
  //   grid-column-start: 1
  //   grid-column-end: 2
  // .product-name
  //   grid-column-start: 2
  //   grid-column-end: 3
