*
  box-sizing:border-box

body
  padding: 10px 20px

#masthead
  margin-bottom:20px

#calendar
  .week
    display:flex
    flex-direction:row
    margin:15px 0
  .day
    text-align:center
    flex: 1 1 0 // flex-grow flex-shrink flex-basis
    h4
      margin-bottom:10px
  .cell
    text-align:center
    display:flex
    flex-direction: row
    .column
      border-bottom:1px solid #ccc
      border-right:1px solid #ccc
      width: 50%
      &.note
        width:100%
        color:red
        font-weight:bold
        & + .column
          width:0
    p
      white-space:nowrap

#todays-products
  width:70%
  .item.note
    grid-column-start:1
    grid-column-end:3
    color:red
    & + .item
      display:none

#product-list
  width:25%
  .note
    display:none

.kettle-list
  width:70%
  min-height:250px
  & > div
    text-align:center
    border:1px solid #ccc
    padding-bottom:10px
