*
  box-sizing:border-box

.week
  display:flex
  flex-direction:row
.day
  flex: 1 1 0 // flex-grow flex-shrink flex-basis
.cell
  border-bottom:1px solid #ccc
  border-right:1px solid #ccc
  text-align:center
  p
    white-space:nowrap
