| {% extends 'kettles/base.html' %}

| {% load static %}

| {% block extraStyle%}
link(rel="stylesheet" href="{% static 'kettles/list/list_day.css' %}" type="text/css" media="screen, projection")
| {% endblock %}

| {% block content %}
#wrapper
  #slide-day
    include ../updates/update_list_day.html
  #slide-week
    include ../updates/update_list_week.html
| {% endblock %}

| {% block extraScripts %}
script(type="text/javascript" src="{% static 'kettles/js/list_base.js'%}")  
script(type="text/javascript" src="{% static 'kettles/js/list_day_websocket.js'%}")  
script.
  console.log('list active')
  ws.onmessage = function(e) {
      console.log("GOT MESSAqge");
      var data = JSON.parse(e.data);
      var date = data['date'];
      $.ajax({
        url: 'update_list_active/',
        data:{
          "date": date,
        },
        dataType:'html',
        success: function(data){
          html = $.parseHTML(data)
          $('#slide-day').html('');
          $('#slide-day').append(html[1]);
          $('#slide-day').append(html[3]);
          $('#slide-week').html('');
          $('#slide-week').append(html[5]);
          styleFirstScheduleNumberToMake();
        },
      })
  };
| {% endblock %}
