assignableBackgroundHover = #cce

.can-assign
  background-color: #eef
  border-color : #55a
  &:hover
    background-color: assignableBackgroundHover
  &.fc-past
    background-color: #efe
    &:hover
      background-color: #cec
  &.fc-today
    background-color: #ddf !important
    &:hover
      background-color: assignableBackgroundHover !important
.fc-today
  .fc-day-number
    font-weight: bold
