| {% extends 'kettles/base.html' %}

| {% load static %}

| {% block extraStyle%}
link(rel="stylesheet" href="{% static 'kettles/stats.css' %}" type="text/css" media="screen, projection")
| {% endblock %}

| {% block content %}
.chart
| {% endblock %}

| {% block extraScripts %}
script(type="text/javascript" src="{% static 'js/d3.js'%}")  
script(type="text/javascript" src="{% static 'kettles/stats.js'%}")  
| {% endblock %}
